.block{
    background: #937338;
    padding: 5px;
    margin-left: 83.5%;
}
.container{
    border: 2px solid whitesmoke;
    padding-left: 5px;
    border-radius: 3px;
}
p{
    margin: 0px;
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: bold;
    font-size: 50px;
}