table, td{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}
img{
    width: 90px;
    height: 100px;
}
.active {
    filter: grayscale(0%);
    opacity: 1; 
}
.inactive {
    filter: grayscale(100%);
    opacity: 0.5; 
}