.card {
    width: 100px;
    height: 150px;
    perspective: 1000px;
}
.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}
.front {
    transform: rotateY(0deg);
    transition: transform 1s;
    background-color: white;
}
.flexbox{
    display: flex;
}
.back {
    transform: rotateY(180deg);
    transition: transform 1s;
}