div{
    border: 4px solid rgb(135, 126, 220);
    width: 400px;
    height: 300px;
    background: rgb(124, 115, 207);
}
button{
    position: absolute;
    transition: 0.5s;
    outline: none;
    padding: 5px;
    left: 5%;
    text-transform: uppercase;
    font-weight: bold;
    top: 10%;
}