body{
    background-color: rgb(30, 74, 125);
}
.none{
    display: none;
}
.block{
    background-color: white;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}
#btn:after{
    content: "+";
    font-size: 24px;
    font-weight: bolder;
}
#btn.btn:after{
    content: "-";
    font-size: 24px;
    font-weight: bolder;
}
div[onclick="toggleAccordion(this)"] {
    display: flex;
    justify-content: space-between;
}
hr{
    background: linear-gradient(90deg, transparent, #000, transparent);
    border: none;
    height: 2px;
}