table{
    border-collapse: collapse;
}
table td{
    border: 1px solid black;
    padding: 40px;
}
form{
    width: 388px;
    background: rgb(250, 231, 216);
}
.SecBlock{
    margin-right:19%;
}
input[type="text"]{
    margin-right:10%;
}
select{
    margin-right:35%;
}
input{
    margin-block: 4px;
    border: 1px solid rgb(110, 75, 48);
}
select option:checked{
    background-color: rgb(110, 75, 48);
    color: white;
}
label, select, p{
    color: rgb(110, 75, 48);
    border-color: rgb(110, 75, 48);
    font-weight: bold;
}
input[type="button"]{
    margin-right:10px;
    background-color: rgb(231, 201, 181);
    color: rgb(110, 75, 48);
}
.spot{
    margin-left: 44%;
}
.menuBlock{
    display: flex;
    justify-content: space-between;
}